@import "../../styles/vars.scss";

.about_wrapper {
  display: flex;
  // justify-content: center;

  width: 85%;
  margin: auto;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: column;
    font-family: "DMSerif-Regular";
    font-size: $h1;
    margin-bottom: 24px;
    line-height: 65px;
  }

  .about {
    display: flex;
    flex-direction: row;

    .leftContent {
      width: 50%;
      margin-right: 135px;

      .hidden {
        display: none;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .text {
          p {
            line-height: 24px;
          }

          a {
            display: inline-block;
            font-size: $text;
            font-weight: 400;
            color: $purple;
            text-decoration: none;
            transition: $transition;
            letter-spacing: 0;

            &:after {
              display: block;
              content: "";
              width: 0%;
              margin: 1px auto auto auto;
              height: 2px;
              border-radius: 1px;
              background-color: $purple;
              transition: $transition;
            }

            &:hover {
              color: $purple;

              &:after {
                width: 100%;
              }
            }
          }
        }

        .features {
          margin-top: 52px;

          .info {
            line-height: $line-height;
            margin-top: 24px;

            .where {
              color: $gray;
            }
          }
        }

        .inquiries {
          margin-top: 60px;
          display: flex;
          flex-direction: column;
          line-height: $line-height-big;

          .getInTouch {
            display: flex;
            flex-direction: row;
            width: max-content;
            cursor: pointer;
            color: $purple;
            border: 2px solid $purple;
            padding: 12px 16px;
            border-radius: 100px;
            transition: 0.2s ease-in-out;
            line-height: $line-height;
            margin-top: 24px;

            .text {
              transition: $transition;
              font-size: $text;
              text-transform: uppercase;
              font-family: "DMSerif-Regular";
            }

            img {
              margin-right: 8px;
              width: 20px;
              transition: $transition;
              filter: $purple-filter;
            }

            &:hover {
              border-color: $dark-purple;
              .text {
                color: $dark-purple;
              }

              img {
                filter: $dark-purple-filter;
              }
            }
          }
        }

        @include breakpoint-max($lg) {
          .title {
            font-size: $lg-h1;
          }

          .description {
            p {
              font-size: $lg-text;
              line-height: $lg-line-height;
            }
          }
        }
      }
    }
    .photo {
      position: relative;
      padding: 0 50px;
      width: 50%;

      .personal {
        width: 100%;
      }

      @include breakpoint-max($xxl) {
        padding: 0;
      }
    }
  }

  @include breakpoint-max($md) {
    .about,
    .photo {
      width: 100%;
    }

    .photo {
      display: none;
    }
    .about_wrapper {
      .title {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        span {
          &:nth-child(1) {
            &::after {
              content: "\00a0";
            }
          }
        }
      }
    }
    .about {
      flex-direction: column-reverse;
      .leftContent {
        width: 100%;
        margin: 0;
        .hidden {
          display: flex;
          margin: 0 auto 20px auto;
          width: 100%;
        }

        .description {
          display: flex;
          flex-direction: column;
          .text {
            width: 100%;
          }
          .photo {
            display: none;
            width: 100%;
            margin-bottom: 56px;
          }
        }
      }
    }
  }
}
