@import "../../styles/vars.scss";

.arrowTop {
  position: fixed;
  right: 25px;
  bottom: 32px;
  transition: $transition;
  cursor: pointer;
  margin: 32px;
  filter: $black-filter;

  &:hover {
    filter: $purple-filter;
  }

  @include breakpoint-max($lg) {
    right: 15px;
    margin: 5px;
  }

  @include breakpoint-max($md) {
    display: none;
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
