@import "../../styles/vars.scss";

section {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  .hello,
  .about {
    width: 60%;
    margin-bottom: 32px;
  }

  .hello {
    align-self: flex-start;
  }

  .about {
    line-height: 36px;
    align-self: flex-start;
    margin-bottom: 32px;
    font-family: "OpenSans-Regular";
  }

  .home_image {
    width: 100%;
  }

  .rotate {
    animation: rotate 5s linear infinite;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  .scroller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    cursor: pointer;
    color: $purple;
    border: 2px solid $purple;
    padding: 12px 16px;
    border-radius: 100px;
    transition: 0.2s ease-in-out;

    .text {
      transition: $transition;
      font-size: $text;
      text-transform: uppercase;
      font-family: "DMSerif-Regular";
    }

    img {
      margin-right: 8px;
      width: 20px;
      transition: $transition;
      filter: $purple-filter;
    }

    &:hover {
      border-color: $dark-purple;
      .text {
        color: $dark-purple;
      }

      img {
        filter: $dark-purple-filter;
      }
    }
  }

  @include breakpoint-max($lg) {
    h1 {
      font-size: $lg-h1;
    }

    h2 {
      font-size: $lg-h2;
    }

    .hello,
    .about {
      width: 100%;
      margin-bottom: 24px;
      line-height: 36px;
    }
  }

  @include breakpoint-max($md) {
    .hello,
    .about {
      line-height: 32px;
    }
  }
}
