@import "../../styles/vars.scss";

.contacts {
  width: 85%;
  margin: auto;

  h1 {
    display: flex;
    flex-direction: column;
    line-height: $line-height-xxl;
  }

  p {
    max-width: 70%;
    padding-bottom: 24px;
  }

  .email {
    display: block;
    font-size: $h3;
    color: $black;
    font-family: "DMSerif-Regular";
    text-decoration: none;
    margin-bottom: 56px;
    width: fit-content;
    cursor: pointer;
    transition: $transition;

    &:after {
      display: block;
      content: "";
      width: 0%;
      margin: 5px auto auto auto;
      height: 3px;
      border-radius: 1px;
      background-color: $purple;
      transition: $transition;
    }

    &:hover {
      color: $purple;

      &:after {
        width: 100%;
      }
    }
  }

  h2 {
    font-size: $h1;
  }

  @include breakpoint-max($lg) {
    width: 100%;

    p {
      font-size: $lg-text;
    }
    .email {
      font-size: $lg-h1;
    }

    .sources {
      h2 {
        font-size: $lg-h2;
      }
    }
  }

  @include breakpoint-max($md) {
    width: 100%;

    p {
      font-size: $lg-text;
    }

    .email {
      font-size: $lg-h3;
      margin-bottom: 24px;
    }
  }

  .contactForm {
    height: 600px;
    width: 70%;

    .cog-abuse {
      display: none;
    }
  }

  .formFrame {
    // width: 100%;
  }
}
