@import "../../styles/vars.scss";

.terms {
  width: 85%;
  margin: auto;

  h1 {
    margin-top: 24px;
  }

  h3 {
    margin: 56px 0 24px 0;
  }

  ul {
    margin-bottom: 15px;
    line-height: 24px;

    li {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: flex;
        width: 3px;
        height: 3px;
        background-color: $black;
        border-radius: 3px;
        margin-right: 10px;
      }
    }
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    line-height: $line-height;
    margin-bottom: 56px;

    a {
      text-decoration: none;
      color: $black;
      cursor: pointer;
    }
  }

  b {
    font-family: "OpenSans-Bold";
  }

  .link {
    display: inline-block;
    font-size: $text;
    text-decoration: none;
    width: fit-content;
    transition: $transition;
    color: $purple;

    &:after {
      display: block;
      content: "";
      width: 0%;
      margin: 1px auto auto auto;
      height: 2px;
      border-radius: 1px;
      background-color: $purple;
      transition: $transition;
    }

    &:hover {
      color: $purple;

      &:after {
        width: 100%;
      }
    }
  }

  .section {
    // padding-bottom: 12px;
  }

  .lastUpdate {
    display: flex;
    color: $gray;
    margin-bottom: 56px;
  }

  @include breakpoint-max($lg) {
    h1 {
      font-size: $lg-h1;
    }
    h2 {
      font-size: $lg-h2;
    }

    p {
      font-size: $lg-text;
      line-height: $lg-line-height;
    }
  }
}
