@import "../../node_modules/sal.js/dist/sal.css";
@import "./vars.scss";

@font-face {
  font-family: "DMSerif-Regular";
  src: url("../assets/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

body {
  font-family: "OpenSans-Regular";
  scroll-behavior: smooth;
  letter-spacing: $letter-spacing;
}

body::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
body {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

//Disable infinite scrollbar
.infinite-scroll-component::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  color: $black;
}

h1 {
  font-family: "DMSerif-Regular";
  font-size: $h1;
  margin-bottom: 24px;
}

h2 {
  font-family: "DMSerif-Regular";
  font-size: $h2;
  margin-bottom: 24px;
}

h3 {
  font-family: "DMSerif-Regular";
  font-size: $h3;
}

p {
  font-size: $text;
  line-height: $line-height;
  padding-bottom: 16px;
}

.container {
  position: relative;
  padding: 0 120px;
  margin: 0 auto;

  @include breakpoint-max($lg) {
    padding: 0 60px;
  }

  @include breakpoint-max($sm) {
    padding: 0 20px;
  }
}

::selection {
  background: $purple; /* Safari */
  color: $white;
}
::-moz-selection {
  background: $purple; /* Firefox */
  color: $white;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;

  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;

  transition: opacity 300ms ease-in;
}

.link {
  display: inline-block;
  font-size: $text;
  font-weight: 400;
  color: $purple;
  text-decoration: none;
  transition: $transition;
  letter-spacing: 0;

  &:after {
    display: block;
    content: "";
    width: 0%;
    margin: 1px auto auto auto;
    height: 2px;
    border-radius: 1px;
    background-color: $purple;
    transition: $transition;
  }

  &:hover {
    color: $purple;

    &:after {
      width: 100%;
    }
  }
}
