// COLORS
$black: #191123;
$purple: #a591f7;
$dark-purple: #7463dd;
$gray: #929292;
$white: #fff;
$black-filter: brightness(0) saturate(100%) invert(6%) sepia(5%) saturate(7500%)
  hue-rotate(225deg) brightness(94%) contrast(96%);
$purple-filter: brightness(0) saturate(100%) invert(77%) sepia(44%)
  saturate(5928%) hue-rotate(210deg) brightness(102%) contrast(94%);
$dark-purple-filter: invert(40%) sepia(60%) saturate(804%) hue-rotate(211deg)
  brightness(95%) contrast(87%);
// SIZES
$h1: 48px;
$h2: 32px;
$h3: 24px;
$text: 16px;

$lg-h1: 32px;
$lg-h2: 24px;
$lg-h3: 18px;
$lg-text: 14px;

// SPACES
$letter-spacing: 0.5px;
$line-height: 24px;
$line-height-big: 32px;
$line-height-xxl: 64px;
$lg-line-height: 20px;

//TRANSITIONS
$transition: 0.3s;

// BREAKPOINTS
$xxl: 1440px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;

@mixin breakpoint-max($bp) {
  @media (max-width: $bp) {
    @content;
  }
}
