@import "../../styles/vars.scss";

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.infinite-scroll-component::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
.infinite-scroll-component {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;

  img {
    width: 100%;
  }
}

.element-animation {
  margin: 2rem 0;
  font-size: 3rem;

  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.cover_wrapper {
  position: relative;
  cursor: pointer;

  .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 100%;
    transition: $transition;

    &:hover {
      opacity: 0.95;
    }

    span {
      text-align: center;
      font-family: "OpenSans-Regular";
      font-size: $lg-h1;
      color: $black;
    }

    img {
      display: flex;
      width: 32px;
      position: absolute;
      bottom: 32px;
      height: 32px;
    }
  }

  @include breakpoint-max($lg) {
    .cover {
      span {
        font-size: $lg-h2;
      }

      .star_icon {
        transform: scale(0.8);
      }
    }
  }

  @include breakpoint-max($sm) {
    .cover {
      span {
        display: none;
      }
      .star_icon {
        // transform: scale(0.5);
        display: none;
      }

      &:hover {
        opacity: 0.3;
      }
    }
  }
}
