@import "../../styles/vars.scss";

.header {
  position: sticky;
  top: 0;
  display: flex;
  margin-bottom: 56px;
  background: $white;
  width: 100%;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  height: 89px;

  .logo {
    position: relative;
    transition: $transition;
    background-image: url("../../assets/images/logo-letters.svg");
    display: flex;
    justify-content: center;
    width: 45px;
    align-items: center;
    height: 45px;

    .in {
      margin-bottom: 2px;
      animation-name: animation-star;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes animation-star {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
    }

    animation-name: animation-letters;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes animation-letters {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &:hover {
      filter: brightness(0) saturate(100%) invert(59%) sepia(0%) saturate(1%)
        hue-rotate(342deg) brightness(97%) contrast(100%);
    }
  }
}
