@import "../../styles/vars.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;

  a {
    color: $black;
    transition: $transition;

    &:hover {
      color: $purple;
    }
  }

  svg {
    margin: 19px;
  }

  @include breakpoint-max($lg) {
    right: 15px;

    svg {
      margin-bottom: 19px;
      margin-right: 0;
    }
  }

  @include breakpoint-max($sm) {
    display: none;
  }
}
