@import "../../styles/vars.scss";

.footer {
  margin-bottom: 56px;
  margin-top: 64px;

  .divider {
    margin-top: 25px;
    width: 100%;
  }

  .social {
    display: flex;
    justify-content: center;
    font-size: 24px;

    a {
      color: $black;
      transition: $transition;

      &:hover {
        color: $purple;
      }
    }

    svg {
      margin: 16px;
    }
  }

  .email {
    display: block;
    font-size: $text;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    margin: auto auto 48px auto;
    transition: $transition;
    color: $black;

    &:after {
      display: block;
      content: "";
      width: 0%;
      margin: 5px auto auto auto;
      height: 2px;
      border-radius: 1px;
      background-color: $purple;
      transition: $transition;
    }

    &:hover {
      color: $purple;

      &:after {
        width: 100%;
      }
    }
  }

  .terms {
    display: flex;
    flex-direction: column;
    color: $gray;
    text-align: center;
    font-size: 12px;

    .conditions {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: $gray;
      }
    }
  }
}
