@import "../../styles/vars.scss";

.case {
  letter-spacing: 1px;
  width: 85%;
  margin: 0 auto;

  .case_title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 790px;
  }

  .case_description {
    font-family: "OpenSans-Regular";
    font-size: $text;
    max-width: 80%;
    margin: 0 auto 56px auto;
    text-align: center;
    line-height: $line-height;
  }

  .section_wrapper {
    .images_description {
      text-align: center;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .images_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .image_wrapper {
      width: 25%;
      margin-right: 32px;
      margin-bottom: 32px;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      width: 100%;
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;

    a {
      text-decoration: none;
      color: $black;
    }
    .arrow {
      font-size: $h2;

      span {
        margin: 0 32px;
        transition: $transition;
      }

      img {
        filter: $black-filter;
        transition: $transition;
      }

      &:hover {
        span {
          color: $purple;
        }

        img {
          filter: $purple-filter;
        }
      }
    }

    .arrowLeft {
      margin-right: auto;
    }

    .arrowRight {
      margin-left: auto;
    }
  }

  @include breakpoint-max($lg) {
    .case_title {
      font-size: $lg-h1;
    }

    .case_description {
      font-size: $lg-text;
    }

    .images_row {
      flex-direction: column;

      .image_wrapper {
        width: 100% !important;
        margin-right: 0;
      }
    }

    .pagination {
      .arrow {
        font-size: $lg-h2;
        align-items: center;
        display: flex;

        span {
          margin: 0 10px;
        }
      }
    }
  }

  @include breakpoint-max($sm) {
    .pagination {
      .arrow {
        font-size: $lg-h3;
      }
    }
  }
}
