@import "../../styles/vars.scss";

.nav {
  display: flex;
  font-family: "OpenSans-Regular";

  .nav_item {
    margin-left: 40px;

    .activeBtn {
      color: $purple;
    }

    a {
      font-size: $text;
      font-weight: 400;
      color: #191123;
      text-decoration: none;
      transition: $transition;
      letter-spacing: 0;

      &:after {
        display: block;
        content: "";
        width: 0%;
        margin: 5px auto auto auto;
        height: 2px;
        border-radius: 1px;
        background-color: $purple;
        transition: $transition;
      }

      &:hover {
        color: $purple;

        &:after {
          width: 100%;
        }
      }
    }
  }

  @include breakpoint-max($sm) {
    .nav_item {
      margin-left: 20px;
    }
  }
}
