@import "../../styles/vars.scss";

.notFound {
  width: 85%;
  margin: auto;
  text-align: center;
  color: $black;

  .description {
    line-height: 23px;
    margin-bottom: 33px;

    a {
      display: inline-block;
      text-decoration: none;
      color: $purple;
      transition: $transition;

      &:after {
        display: block;
        content: "";
        width: 0%;
        margin: 3px auto auto auto;
        height: 2px;
        border-radius: 1px;
        background-color: $purple;
        transition: $transition;
      }

      &:hover {
        color: $purple;

        &:after {
          width: 100%;
        }
      }
    }
  }

  img {
    width: 290px;
  }
}
